{% extends 'base.html.twig' %}

{% block title %}
    The Storeski
{% endblock title %}

{% block body %}
    <center>
        <div class="homePage_body"> 
            <h1>Welcome to the Storeski!</h1>
            <div class="homePage_featured">
                <h2>
                    Featured Items!
                </h2>
                {% for item in items %}
                    <div>
                        {{ item.Fit.FitType }}
                        {{ item.ItemName }}
                        ${{ item.Price }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </center>
{% endblock body %}