<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        <div class="base_header">
            <div>
                <h1>Clothing Store Name</h1>
            </div>
            <div>
                <p>
                    {% for link in links %}                
                    <a href={{ link.url }}>{{ link.name }}</a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        <div class="base_footer">
            <center>
                <div class="info">
                    <p>
                        CopyRight Petros Atsas
                    </p>
                </div>
            </center>
        </div>
    </footer>
</html>
